body {
    margin: 0;
    padding: 0;
    min-width: 1200px;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: normal;
    background-color: #849d8f;
    color: #fff;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: #fff;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 1145px;
    margin: 0 auto;
}

.menu-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.main-navigation {
    display: flex;
}

.logo {
    margin-top: 10px;
}

.main-menu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 14px;
    flex-wrap: wrap;
}

.main-menu-item {
    position: relative;
}

.main-menu-item .activ-page {
    background-color: #d07058;
    border-radius: 20px;
    color: #fff;
    background-image: none;
}

.main-menu-item .activ-page:hover,
.main-menu-item .activ-page:focus,
.main-menu-item .activ-page:active {
    background-color: #d07058;
    border-radius: 20px;
    color: #fff;
    background-image: none;
}

.main-menu-item > a {
    display: inline-block;
    line-height: 18px;
    font-weight: 700;
    padding: 5px 10px;
    margin-top: 24px;
    margin-right: 8px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
    background-position: 50% 90%;
    background-repeat: no-repeat;
    background-size: calc(100% - 15px) 2px;
    vertical-align: middle;
}

.main-menu-item > a:hover,
.main-menu-item > a:focus {
    background-color: #f7f6f3;
    border-radius: 20px;
    color: #323232;
}

.main-menu-item > a:active {
    box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105);
}

.main-menu-catalog-item {
    position: absolute;
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    top: 60px;
    left: -10px;
    border-radius: 5px;
    background-color: #f8f7f4;
    z-index: 10;
}

.main-menu-catalog-item li {
    display: block;
    width: 144px;
}

.main-menu-catalog-item a:hover,
.main-menu-catalog-item a:focus {
    background-color: #fbded7;
}

.main-menu-catalog-item a:active {
    background-color: #f6b5a5;
}

.main-menu-catalog-item .new:hover,
.main-menu-catalog-item .new:focus,
.main-menu-catalog-item .new:active {
    border-radius: 5px 5px 0px 0px;
}

.main-menu-catalog-item .melorin:hover,
.main-menu-catalog-item .melorin:focus,
.main-menu-catalog-item .melorin:active {
    border-radius: 0px 0px 5px 5px;
}

.main-menu-catalog-item .main-menu-catalog-item-active {
    background-color: #d07058;
}

.main-menu-catalog-item-active a:hover,
.main-menu-catalog-item-active a:focus,
.main-menu-catalog-item-active a:active {
    background-color: #d07058;
}

.main-menu-catalog-item a {
    display: block;
    font-size: 14px;
    line-height: 16px;
    color: #323232;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.main-menu-catalog-item .new::after {
  content: "";
  width: calc(100% - 20px);
  height: 1px;
  background-color: #d1d0ce;
  position: absolute;
  top: 35px;
  left: 10px;
}

.main-menu-catalog-item .new {
    box-sizing: border-box;
    font-weight: 700;
}

.main-menu-item:hover .main-menu-catalog-item {
    display: block;
}

.user-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-top: 20px;
}

.user-menu a {
    display: inline-block;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    padding: 9px 15px 9px 45px;
    margin-left: 12px;
    background-color: rgba(255, 255, 255, .2);
    border-radius: 20px;
    vertical-align: middle;
}

.header-enter-btn,
.header-basket {
    position: relative;
}

.user-menu .saerch-btn {
    display: inline-block;
    padding: 7px;
    width: 17px;
    height: 17px;
    vertical-align: middle;
}

.search-popup {
    position: absolute;
    display: none;
    width: 343px;
    background-color: #f8f7f4;
    text-align: center;
    right: 1px;
    border-radius: 5px;
    z-index: 10;
    top: 40px;
}

.search-popup input[type="search"] {
    width: 310px;
    box-sizing: border-box;
    border: 2px solid #d3d3d2;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    height: 45px;
    padding-top: 8px;
    padding-left: 10px;
}

.search-popup input[type="search"]::placeholder {
    font-size: 14px;
    line-height: 24px;
    color: #999999;
}

.user-menu a:hover,
.user-menu a:focus {
    background-color: #f8f7f4;
    color: #323232;
}

.saerch-btn svg {
    fill: #fff;
}

.saerch-btn:hover svg,
.saerch-btn:focus svg {
    fill: #000;
}

.saerch-btn-list-item:hover .search-popup {
    display: block;
}

.user-menu li:nth-child(2),
.user-menu li:first-child {
    position: relative;
}

.enter-popup {
    position: absolute;
    display: none;
    width: 280px;
    background-color: #f8f7f4;
    border-radius: 5px;
    right: 1px;
    top: 40px;
    z-index: 10;
}

.enter-popup input[type="email"],
.enter-popup input[type="password"] {
    width: 240px;
    margin: 20px;
    box-sizing: border-box;
    border: 2px solid #d3d3d2;
    border-radius: 5px;
    height: 45px;
    padding-top: 8px;
    padding-left: 10px;
}

.enter-popup input[type="password"] {
    margin-top: 0;
}

.enter-popup input[type="email"]::placeholder,
.enter-popup input[type="password"]::placeholder {
    font-size: 14px;
    line-height: 24px;
    color: #999999;
}

.search-popup input[type="search"]:hover,
.enter-popup input[type="email"]:hover,
.enter-popup input[type="password"]:hover,
.subscribe-wrapper input[type="email"]:hover,
.write-us-form input[type="text"]:hover,
.write-us-form input[type="email"]:hover,
.write-us-form textarea:hover {
    border: 2px solid #c7c6c5;
}

.search-popup input[type="search"]:focus,
.enter-popup input[type="email"]:focus,
.enter-popup input[type="password"]:focus,
.subscribe-wrapper input[type="email"]:focus,
.write-us-form input[type="text"]:focus,
.write-us-form input[type="email"]:focus,
.write-us-form textarea:focus {
    outline: none;
    border: 2px solid #8fbdec;
}

.header-enter-btn-list-item:hover .enter-popup {
    display: block;
}

.enter-popup-btn {
    padding: 13px 24px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.enter-link-wrapper {
    position: absolute;
    width: 150px;
    right: -20px;
    bottom: 20px;
}

.enter-link-wrapper a {
    padding: 0;
    margin: 0;
    font-size: 13px;
    line-height: 24px;
    color: #323232;
    background-color: #f8f7f4;
    text-decoration: underline;
}

.header-enter-btn::before {
    content: "";
    position: absolute;
    background-image: url("../img/icon-entrance.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 21px;
    height: 19px;
    left: 17px;
    top: 7px;
}

.header-basket::before {
    content: "";
    position: absolute;
    background-image: url("../img/icon-basket.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 21px;
    height: 20px;
    left: 17px;
}

.header-basket:hover::before,
.header-basket:focus::before {
    content: "";
    position: absolute;
    background-image: url("../img/icon-basket-black.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 21px;
    height: 20px;
    left: 17px;
}

.header-basket-full::before {
    content: "";
    position: absolute;
    background-image: url("../img/icon-basket-red.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 21px;
    height: 20px;
    left: 17px;
}

.header-enter-btn:hover::before {
    content: "";
    position: absolute;
    background-image: url("../img/icon-enter-black.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 21px;
    height: 19px;
    left: 17px;
}

.basket-popup-wrapper {
    position: relative;
}

.basket-popup-wrapper:hover .basket-container {
    display: block;
}

.basket-container {
    display: none;
}

.basket-popup {
    position: absolute;
    z-index: 10;
    width: 521px;
    right: 1px;
    top: 40px;
    background-color: #f8f7f4;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.basket-popup > p {
    font-size: 15px;
    line-height: 18px;
    font-weight: 700;
    color: #323232;
    align-self: flex-end;
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
}

.basket-popup-list {
    list-style: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #cacac7;
    margin-bottom: 15px;
    margin-top: 10px;
}

.basket-popup-list-item {
    display: flex;
    margin-bottom: 15px;
}

.basket-popup-list-item a {
    margin: 0;
    padding: 0;
    color: #323232;
    display: block;
    margin-top: 10px;
}

.basket-popup-list-item p {
    margin: 0;
    padding: 0;
    font-size: 13px;
    line-height: 16px;
    color: #323232;
}

.basket-popup-list-item img {
    margin-left: 10px;
}

.basket-popup-list-item .basket-popup-name {
    width: 220px;
    margin-right: 25px;
    margin-left: 10px;
}

.basket-popup-list-item .basket-popup-cost {
    margin-left: 25px;
}

.basket-popup-wrapper .bascket-btn {
    align-self: flex-end;
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    padding: 5px 12px;
}

.header-contacts {
    text-align: right;
}

.header-contacts p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    position: relative;
    top: -5px;
}

.header-contacts a {
    margin: 0;
    padding: 0;
    font-size: 22px;
    line-height: 24px;
    font-weight: 700;
}

.site-wrapper {
    min-width: 940px;
    background-color: #849d8f;
    background-image: url("../img/slider-cremebrulee-raspberry.png");
    background-repeat: no-repeat;
    background-position: top center;
    transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
    content: "";
    visibility: hidden;
}

.site-wrapper::before {
    background-image: url("../img/slider-chocolate-lemon.png");
}

.site-wrapper::after {
    background-image: url("../img/slider-fudge-sherbet.png");
}

.slider {
    position: relative;
    padding-top: 275px;
    text-align: center;
    color: #ffffff;
}

.slider-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slide {
    display: none;
}

.slide-title {
    width: 700px;
    margin: 0 auto;
    margin-bottom: 27px;
    font-size: 60px;
    line-height: 60.35px;
    font-weight: 700;
}

.slide-button {
    padding: 10px 38px;
    font-size: 32px;
    line-height: 44px;
}

.btn {
    text-align: center;
    color: #ffffff;
    vertical-align: top;
    text-decoration: none;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
    background: #f26843;
    background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    border-radius: 50px;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
    border: none;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
}

.btn:hover {
    background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
    box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.btn:active {
    background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
    box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
    position: absolute;
    bottom: 23px;
    left: 0;
    z-index: 20;
    font-size: 0;
}

.slider-controls label {
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-right: 8px;
    vertical-align: top;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
}

.slider-controls label:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.slider-controls label:active {
    background-color: rgba(255, 255, 255, 1);
}

#product-1:checked ~ .site-wrapper {
    background-color: #849d8f;
    background-image: url("../img/slider-cremebrulee-raspberry.png");
}

#product-2:checked ~ .site-wrapper {
    background-color: #8996a6;
    background-image: url("../img/slider-chocolate-lemon.png");
}

#product-3:checked ~ .site-wrapper {
    background-color: #9d8b84;
    background-image: url("../img/slider-fudge-sherbet.png");
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
    display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
    background-color: #ffffff;
}

.gift-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 40px;
}

.gift-item {
    width: 560px;
    border-radius: 20px;
}

.gift-raspberry {
    background-image: url("../img/bg-gift-raspberry.jpg");
    background-color: #830312;
    background-repeat: no-repeat;
}

.gift-chocolate {
    background-image: url("../img/bg-gift-chocolate.jpg");
    background-color: #5f3c27;
    background-repeat: no-repeat;
}

.gift-list h3 {
    margin: 0;
    font-size: 35px;
    line-height: 41px;
    font-weight: 700;
    margin-left: 20px;
    margin-top: 15px;
}

.gift-list p {
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 45px;
}

.gift-raspberry p {
    margin-right: 15px;
}

.gift-btn {
    font-size: 18px;
    line-height:24px;
    font-weight: 700;
    margin-left: 353px;
    padding: 10px 20px;
    margin-bottom: 25px;
}

.gift-raspberry .gift-btn {
    margin-left: 377px;
}

.catalog-list {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.catalog-item {
    position: relative;
    width: 267px;
    margin-bottom: 25px;
}

.catalog-item::after {
    content: "";
    width: 100%;
    height: calc(100% + 55px);
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    position: absolute;
    top: -5px;
    left: 0px;
    z-index: 1;
    display: none;
}

.catalog-item:hover::after {
    display: block;
}

.catalog-item:nth-child(4n) {
    margin-right: 0px;
}

.catalog-item p {
    font-size: 45px;
    line-height:45px;
    font-weight: 700;
    position: absolute;
    bottom: 35px;
}

.catalog-item span {
    font-size: 30px;
    line-height:45px;
    font-weight: 400;
}

.catalog-item img {
    margin-bottom: 8px;
}

.catalog-item a {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    font-weight: 500;
    margin-bottom: 13px;
    z-index: 2;
    position: relative;
    padding: 9 6px;
}

.catalog-item .catalog-btn {
    font-size: 18px;
    line-height:24px;
    font-weight: 700;
    padding: 10px 17px;
    position: absolute;
    right: 34px;
    top: 333px;
    z-index: 10;
    text-decoration: none;
    display: none;
}

.catalog-item:hover .catalog-btn {
    color: #ffffff;
    display: block;
    background: #f26843;
    background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
}

.catalog-item .catalog-btn:hover {
    background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
    box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.catalog-item .catalog-btn:active {
    background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
    box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.hits .catalog-item::before {
    content: "";
    position: absolute;
    background-image: url("../img/icon-hit.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 61px;
    height: 61px;
    left: 0px;
    top: 0px;
}

.about {
    background-color: #eaddc4;
    background-image: url("../img/bg-waffle.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    margin-bottom: 40px;
}

.about p {
    padding: 0;
    font-size: 24px;
    line-height:30px;
    font-weight: 500;
    color: #323232;
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 20px;
    letter-spacing: 0.15px;
    vertical-align: middle;
}

.about-list {
    padding: 0;
    margin: 0 auto;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
}

.about-list li {
    width: 477px;
    color: #323232;
    padding-left: 56px;
    margin-bottom: 23px;
    position: relative;
}

.about-list li:nth-child(2n) {
    margin-left: 35px;
}

.about-list li:nth-child(1)::before {
    content: "";
    position: absolute;
    background-image: url("../img/icon-ice-cream.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 49px;
    height: 49px;
    left: 0px;
    top: -10px;
}

.about-list li:nth-child(1)::before {
    content: "";
    position: absolute;
    background-image: url("../img/icon-ice-cream.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 49px;
    height: 49px;
    left: 0px;
    top: -10px;
}

.about-list li:nth-child(2)::before {
    content: "";
    position: absolute;
    background-image: url("../img/icon-cow.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 49px;
    height: 49px;
    left: -2px;
    top: -10px;
}

.about-list li:nth-child(3)::before {
    content: "";
    position: absolute;
    background-image: url("../img/icon-eco.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 49px;
    height: 49px;
    left: 0px;
    top: -11px;
}

.about-list li:nth-child(4)::before {
    content: "";
    position: absolute;
    background-image: url("../img/icon-thermometer.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 49px;
    height: 49px;
    left: -2px;
    top: -11px;
}

.blog-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.blog {
    width: 560px;
    background-color: #fff;
    background-repeat: no-repeat;
    background-image: url("../img/bg-blog-table-setting.jpg");
    background-size: cover;
    border-radius: 15px;
}

.blog p {
    color: #323232;
    font-weight: 500;
    margin: 0;
    margin-left: 20px;
    margin-top: 23px;
    margin-bottom: 7px;
}

.blog a {
    display: inline-block;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: #323232;
    margin-left: 20px;
    margin-bottom: 30px;
    width: 300px;
    margin-bottom: 79px;
    vertical-align: middle;
    text-decoration: underline;
}

.blog a:hover,
.blog a:focus {
    color: #e84d37;
}

.subscribe {
    width: 560px;
    background-color: #fff;
    background-repeat: no-repeat;
    background-image: url("../img/bg-post.jpg");
    background-size: cover;
    border-radius: 15px;
}

.subscribe p {
    color: #5a5a5a;
    margin: 35px 15px 38px 28px;
}

.subscribe-wrapper input[type="email"] {
    box-sizing: border-box;
    width: 368px;
    height: 40px;
    border: 2px solid #d3d3d2;
    border-radius: 5px;
    padding-top: 6px;
    padding-left: 10px;
}

.subscribe-wrapper input[type="email"]::placeholder {
    font-size: 16px;
    line-height: 24px;
    color: #999;
}

.subscribe-btn {
    padding: 10px 20px;
    margin-left: 10px;
}

.subscribe-wrapper {
    margin-left: 28px;
}

.contacts {
    position: relative;
    overflow: hidden;
}

.contacts img {
    min-width: 100%;
    min-height: 100%;
    max-width: none;
    max-height: none;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.adress-wrapper {
    width: 1145px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    padding-top: 63px;
    padding-bottom: 60px;
}

.address {
    background-color: #fff;
    text-align: left;
    width: 301px;
    border-radius: 15px;
    position: relative;
    z-index: 10;
}

.address p {
    color: #323232;
    font-size: 14px;
    line-height: 20px;
    width: 235px;
    margin: 0;
    margin-left: 25px;
}

.address a {
    color: #323232;
    font-size: 18px;
    line-height: 25px;
}

.address p:first-child {
    margin-top: 28px;
    width: 150px;
}

.address p:nth-child(3) {
    margin-bottom: 2px;
}

.address p:nth-child(2) {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

.address p:nth-child(5) {
    line-height: 22px;
    margin-bottom: 25px;
}

.address .adress-btn {
    color: #fff;
    padding: 10px 27px;
    margin-left: 25px;
    margin-bottom: 30px;
}

.footer-wrapper {
    display: flex;
    margin-bottom: 23px;
}

.footer-footer-creamy {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.social-btn {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    margin-top: 35px;
    margin-right: 200px;
    flex-wrap: wrap;
}

.social-btn li {
    margin-right: 13px;
}

.social-btn svg {
    border: 2px solid rgba(255, 255, 255, 0.8);
    border-radius: 50px;
    opacity: 0.8;
    fill: #fff;
}

.social-btn svg:hover,
.social-btn svg:focus {
    opacity: 1;
}

.social-btn svg:active {
    border: 2px solid #d1d0ce;
    fill: #d1d0ce;
}

.footer-menu {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 350px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 27px;
    margin-right: 212px;
}

.footer-menu a {
    font-size: 13px;
    line-height: 18px;
    padding-left: 27px;
}

.footer-menu-favorite {
    margin-right: 5px;
    position: relative;
}

.footer-menu-favorite::before {
    content: "";
    position: absolute;
    background-image: url("../img/icon-heart.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 21px;
    height: 19px;
    left: 3px;
    top: 2px;
}

.footer-menu li:nth-child(1),
.footer-menu li:nth-child(2) {
    margin-top: 5px;
}

.footer-menu li:nth-child(3) {
    margin-right: 17px;
}

.htmlacademy-info {
    margin-top: 17px;
}

.htmlacademy-info p {
    margin: 0;
    padding: 0;
    font-size: 12px;
    line-height: 18px;
}

.htmlacademy-info a {
    font-size: 12px;
    line-height: 18px;
}

.write-us-popup {
    position: absolute;
    background-color: #f8f7f4;
    width: 480px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    display: none;
}

.write-us-popup-wrapper {
    position: relative;
    margin-top: 20px;
    margin-left: 25px;
}

.write-us-popup-wrapper h2 {
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
    color: #323232;
    margin: 0;
    padding: 0;
}

.close-btn {
    position: absolute;
    border: 0;
    margin: 0;
    padding: 0;
    background-color: #f8f7f4;
    right: 15px;
    top: -5px;
    cursor: pointer;
}

.write-us-form {
    display: flex;
    margin-top: 25px;
    flex-direction: column;
}

.write-us-form input[type="text"],
.write-us-form input[type="email"] {
    margin-bottom: 20px;
    width: 267px;
    box-sizing: border-box;
    border: 2px solid #d3d3d2;
    border-radius: 5px;
    padding-top: 8px;
    padding-left: 15px;
    height: 45px;
}

.write-us-form input[type="text"]::placeholder,
.write-us-form input[type="email"]::placeholder {
    font-size: 16px;
    line-height: 24px;
    color: #999999;
}

.write-us-form textarea {
    width: 410px;
    margin-bottom: 25px;
    border: 2px solid #d3d3d2;
    border-radius: 5px;
    padding-top: 8px;
    padding-left: 15px;
    resize: none;
}

.write-us-form textarea::placeholder {
    font-size: 16px;
    line-height: 24px;
    color: #999999;
}

.write-us-form .send-btn {
    align-self: flex-end;
    margin-bottom: 25px;
    margin-right: 25px;
    box-sizing: border-box;
    padding: 12px 25px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
}

.htmlacademy-info .htmlacademy,
.footer-menu a,
.breadcrumbs a,
.catalog-item a {
    text-decoration: underline;
}

.htmlacademy-info .htmlacademy:hover,
.footer-menu a:hover,
.breadcrumbs a:hover,
.catalog-item a:hover,
.htmlacademy-info .htmlacademy:focus,
.footer-menu a:focus,
.breadcrumbs a:focus,
.catalog-item a:focus,
.htmlacademy-info .htmlacademy:active,
.footer-menu a:active,
.breadcrumbs a:active,
.catalog-item a:active {
    color: #ffbc9e;
}

.header-contacts-wrapper {
    display: flex;
    justify-content: space-between;
}

.breadcrumbs {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.breadcrumbs li {
    margin-top: 15px;
    padding-right: 7px;
}

.breadcrumbs a {
    font-size: 14px;
    line-height: 16px;
}

.creamy-header {
    margin: 0;
    padding: 0;
    display: block;
    font-size: 35px;
    line-height: 41px;
    font-weight: 700;
    margin-bottom: 24px;
}

.form {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 33px;
}

.form label,
.form legend {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
}

.form label {
    margin-left: 17px;
}

.sort-wrapper {
    display: flex;
    flex-direction: column;
    width: 190px;
    position: relative;
}

.sort-wrapper .select {
    margin-top: 5px;
    padding-left: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    border: 0;
    color: #fff;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    border-radius: 20px;
    height: 38px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.sort-wrapper .select::-ms-expand {
    display: none;
}

.sort-wrapper::after {
    content: "";
    background-image: url(../img/icon-down-dir-w.svg);
    background-repeat: no-repeat;
    position: absolute;
    background-position: 0, 0;
    width: 11px;
    height: 10px;
    top: 35px;
    right: 13px;
}

.sort-wrapper .select:hover {
    color: #323232;
}

.sort-wrapper:hover::after {
    content: "";
    background-image: url(../img/icon-down-dir.svg);
    background-repeat: no-repeat;
    position: absolute;
    background-position: 0, 0;
    width: 11px;
    height: 10px;
    top: 35px;
    right: 13px;
}

.fieldset {
    border: 0;
}

.price {
    width: 220px;
    margin: 0;
    padding: 0;
}

.price legend {
    margin-left: 33px;
}

.fat {
    width: 410px;
    margin: 0;
    padding: 0;
    margin-bottom: 13px;
}

.fat legend {
    margin-left: 30px;
    margin-bottom: 5px;
}

.price-wrapper {
    height: 17px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    margin-top: 5px;
    padding-top: 18px;
    position: relative;
    margin-left: 15px;
    margin-top: 5px;
    width: 220px;
}

.price-wrapper .toggle {
    width: 4px;
    height: 4px;
    border: 8px solid #fff;
    border-radius: 50px;
    background-color: #ababab;
    position: absolute;
    top: 8px;
    left: 0;
    cursor: pointer;
}

.price-wrapper .toggle-min {
    left: 40px;
}

.price-wrapper .toggle-max {
    left: 140px;
}

.price-wrapper .scale {
    height: 2px;
    background-color: #d1d0ce;
    width: 175px;
    margin: auto;
}

.price-wrapper .bar {
    height: 2px;
    background-color: #f8f7f4;
    width: 60%;
    margin: auto;
}

.fat-wrapper {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    width: 413px;
    padding-bottom: 5px;
    margin-left: 17px;
    padding-top: 3px;
    display: flex;
    justify-content: space-around;
}

.fat-wrapper label {
    display: inline-block;
    font-size: 16px;
    line-height: 18px;
    margin: 0;
    padding: 0;
    background-image: url("../img/icon-radio-off.svg");
    background-repeat: no-repeat;
    background-position: 0, 0;
    padding: 6px 5px 6px 30px;
    vertical-align: middle;
    cursor: pointer;
    opacity: 0.8;
}

.fat-wrapper label:hover {
    opacity: 1;
}

.radio-btn {
    display: none;
}

.radio-btn:checked + .fat-label {
    background-image: url("../img/icon-radio-on.svg");
}

.fillers {
    padding: 0;
}

.fillers legend {
    margin-left: 12px;
    margin-top: 5px;
    margin-bottom: 3px;
}

.fillers-wrapper {
    margin: 0;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    margin-top: 4px;
    margin-bottom: 4px;
    padding-bottom: 5px;
    padding-top: 3px;
    width: 690px;
    display: flex;
    justify-content: space-around;
    margin-right: 12px;
}

.fillers-wrapper label {
    font-size: 16px;
    line-height: 18px;
    margin: 0;
    padding: 0;
    background-image: url("../img/icon-checkbox-off.svg");
    background-repeat: no-repeat;
    background-position: 0, 0;
    padding: 3px 5px 3px 30px;
    opacity: 0.8;
}

.fillers-wrapper label:hover {
    opacity: 1;
}

.check-btn {
    display: none;
}

.check-btn:checked + .fillers-label {
    background-image: url("../img/icon-checkbox-on.svg");
}

.form .catalog-sort-btn {
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid #fff;
    border-radius: 20px;
    color: #fff;
    margin-left: 8px;
    margin-top: 25px;
    margin-bottom: 10px;
    padding: 6px 28px;
}

.form .catalog-sort-btn:hover,
.form .catalog-sort-btn:focus {
    background-color: #fbfcfb;
    border: 2px solid #fbfcfb;
    color: #323232;
}

.form .catalog-sort-btn:active {
    background-color: #eaeaea;
    box-shadow: inset 0px 2px 1px 0px rgb(105, 105, 105);
}

.pagination {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    margin-top: 42px;
    margin-bottom: 34px;
}

.pagination a {
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    padding: 3px 8px;
}

.pagination li:nth-child(7) a {
    margin: 0;
    margin-left: 10px;
    padding: 0;
}

.pagination li:first-child svg {
    opacity: 0.2;
    transform: rotate(180deg);
}

.pagination li {
    padding-right: 3px;
    margin-top: -2px;
}

.pagination li:first-child {
    padding-right: 8px;
}

.actual-page {
    color: #323232;
    background-color: #fff;
    border-radius: 50px;
    padding: 3px 8px;
}

.pagination a:hover,
.pagination a:focus {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50px;
}

.pagination a:active {
    color: #323232;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 50px;
}

.modal-show {
  display: block;
}
