body {
    margin: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #ffffff;
    background-color: #849d8f;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.visually-hidden,
.popup {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.btn {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    background-image: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    opacity: 0.988;
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 700;
}

.btn:focus,
.btn:hover {
    background-image: linear-gradient( 90deg, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.2) 100%), linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%); 
}


.btn:active {
    background-image: linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
    box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);
}


.main-menu li {
    list-style: none;
}

.main-menu a {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 100% 2px;
}

.main-menu a:hover,
.main-menu a:focus {
    background-color: #f7f6f3;
    color: #323232;
}

.main-menu-catalog-item a {
    color: #323232;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    background-color: #f8f7f4;
}

.main-menu-catalog-item a:hover,
.main-menu-catalog-item a:focus {
    background-color: #fbded7;
}

.main-menu-catalog-item a:active {
    background-color: #f6b5a5;
}

.user-menu a {
    background-color: #9db1a5;
    font-size: 14px;
    line-height: 16px;
}

.worktime {
    font-size: 14px;
    line-height: 16px;
}

.header-contacts a {
    font-size: 22px;
    line-height: 24px;
    font-weight: 700;
}

.gift-list,
.user-menu,
.catalog-list,
.about ul,
.social-btn,
.footer-menu,
.pagination,
.breadcrumbs {
    list-style: none;
}

.gift-list h3 {
    font-size: 35px;
    line-height: 41px;
    font-weight: 700;
}

.gift-raspberry {
    background-color: #d3173c;
    background-image: url("../img/bg-gift-raspberry.jpg");
    background-repeat: no-repeat;
}

.gift-chocolate {
    background-color: #69462f;
    background-image: url("../img/bg-gift-chocolate.jpg");
    background-repeat: no-repeat;
}

.catalog-item p:nth-child(2) {
    font-size: 45px;
    line-height: 45px;
    font-weight: 700;
}

.catalog-item-name {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 100% 2px;
}

.catalog-item-name:hover,
.catalog-item-name:focus,
.catalog-item-name:active {
    color:#ffbc9e;
}

.catalog-item span {
    font-size: 30px;
    line-height: 45px;
}

.about {
    background-color: #ede2cb;
    background-image: url("../img/bg-waffle.jpg");
    background-repeat: no-repeat;
}

.about p {
    color: #323232;
    font-size: 24px;
    line-height: 30px;
}

.about li {
    color: #323232;
}

.blog {
    background-color: #ffffff;
    background-image: url("../img/bg-blog-table-setting.jpg");
    background-repeat: no-repeat;
}

.blog p {
    color: #323232;
}

.blog a {
    color: #323232;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
}

.blog a:hover,
.blog a:focus,
.blog a:active {
    color:#e84d37;
}


.subscribe {
    background-color: #f8f7f4;
    background-image: url("../img/bg-post.jpg");
    background-repeat: no-repeat;
}

.subscribe p {
    color: #5a5a5a;
}

.address {
    background-color: #fffffe;
}

.address p {
    color: #323232;
    font-size: 14px;
    line-height: 20px;
}

.address span {
    color: #323232;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
}

.address .adress-phone {
    color: #323232;
    font-size: 18px;
    line-height: 22px;
}

.address .call-time {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
}

.footer-menu a {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 100% 2px;
}

.footer-menu a:hover,
.footer-menu a:focus,
.footer-menu a:active {
    color:#ffbc9e;
}

.main-footer .footer-menu-favorite {
    font-weight: 700;
}

.htmlacademy {
    font-size: 12px;
    line-height: 18px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 100% 2px;
}

.htmlacademy-info a:hover,
.htmlacademy-info a:focus,
.htmlacademy-info a:active {
    color:#ffbc9e;
}

.htmlacademy-info p {
    font-size: 12px;
    line-height: 18px;
}

.breadcrumbs a {
    font-size: 14px;
    line-height: 16px;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus,
.breadcrumbs a:active {
    color:#ffbc9e;
}

.creamy-header {
    font-size: 35px;
    line-height: 41px;
    font-weight: 700;
}

.fieldset {
    border: 0px;
}

.fieldset legend,
.fieldset .sort {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
}

.fieldset option {
    background-color: rgba(255, 255, 255, 0.2);
    color: #ffffff;
}

.fieldset label {
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
}

.fieldset fieldset {
    background-color: rgba(255, 255, 255, 0.2);
}

.catalog-sort-btn {
    padding: 0;
    border: 2px solid #ffffff;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    color: #ffffff;
}
